<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:component-scan base-package="cn.dubidubi.service"></context:component-scan>
	<!-- 配置多线程定时处理 -->
	<task:annotation-driven scheduler="myScheduler"
		executor="myexecutor" />
	<task:scheduler id="myScheduler" pool-size="5" />
	<!-- 定时处理结束 -->
	<!-- 配置异步处理 -->
	<task:executor id="myexecutor" pool-size="5" />
	<!-- 异步处理结束 -->
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="druid"></property>
	</bean>
	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>
