<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dubidubi.dao.base.RolePermissionMapper">
	<select id="listPermissionIdByRoleId" parameterType="int" resultType="int">
		select permissionId from sys_role_permission where roleId =#{v};
	</select>
</mapper>