<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dubidubi.dao.LocationMapper" >
  <resultMap id="BaseResultMap" type="cn.dubidubi.model.WxLocationDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from_user_name" property="fromUserName" jdbcType="VARCHAR" />
    <result column="Longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="Latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="adcode" property="adcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, from_user_name, Longitude, Latitude, Create_time ,address ,adcode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from location_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getLocationByOpenId" resultMap="BaseResultMap" parameterType="string">
  	select 
  	<include refid="Base_Column_List" />
  	from location_info where from_user_name =#{fromUserName};
  </select>
</mapper>