<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dubidubi.dao.MailInfoMapper">
	<resultMap id="BaseResultMap" type="cn.dubidubi.model.MailInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="mail" property="mail" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mail, create_time, open_id, pic_url, nick_name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mail_info
		where id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="saveOneMail" parameterType="cn.dubidubi.model.MailInfo">
		insert
		mail_info(mail,create_time,open_id,pic_url,nick_name)
		values(#{mail},#{createTime},#{openId},#{picUrl},#{nickName})
	</insert>

	<select id="getIdByMail" parameterType="String" resultType="int">
		select id from mail_info where mail=#{v}
	</select>

	<select id="listMailByOpenid" parameterType="String" resultType="String">
		select mail from mail_info where open_id=#{v}
	</select>
</mapper>