<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dubidubi.dao.NewsDOMapper">
	<resultMap id="BaseResultMap" type="cn.dubidubi.model.NewsDO">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="Title" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="img_url" property="PicUrl" jdbcType="VARCHAR" />
		<result column="original_web_url" property="Url" jdbcType="VARCHAR" />
		<result column="source" property="Description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, create_time, img_url, original_web_url ,source
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from news_info
		where id = #{id,jdbcType=INTEGER}
	</select>
</mapper>